:root {
    --var-background-image: url('flock_border.png');
    --var-color: black;
}

[data-theme = "dark-theme"] {
    --var-background-image:url('flock_border_night.png');
    --var-color: black;
} 

* { padding:0; margin:0; }
body {
    margin-left:1em; 
    margin-right:1em; 
    font-family: Georgia, sans-serif;
    color: var(--var-color);
    background-image: var(--var-background-image);
    background-size: cover; 
    background-position: center; 
}
.root { width: 100%; margin: auto; max-width:50em;} /* i guess this was for div="root"*/


img {
    width: 75%; /* Default width */
    height: auto;
    max-width: 600px;

    @media (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}

iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
    max-width:600px;
}

@media (min-width:800x){
    
    img {
        flex:100%; 
        max-width:1000em; 
        margin-top:0;
    }
}
